<%-include("partials/header")-%>
<div style="display: flex; justify-content: space-between;">
    <h1>Home</h1>
    <form action="/compose">
        <button style="position: relative; top: 40%;" type="submit" class="btn btn-primary">Compose</button>
    </form>
</div>
    <p> <%= homeFiles %> </p>
 
 <% userPostsTitle.forEach(element=>{ %>
    <h1 style="font-weight: bold;"> <%= element.title %> </h1>
    <p><%= element.body.substring(0,100)+ "..." %> <a href="/posts/<%=element.title%>">read more</a> </p>
    
 <% }) %>
 
 <%-include("partials/footer")-%>